<%- include('../partials/header') %>
<div class="container-acc">
<h1>Admin Review</h1>

<ul id="new" class="no-dec">
  <% data.forEach(request => { %>
    <li>
      <span>Name: <%=request.name %></span>
      <span>Email <%= request.user_email %></span>
      <span>Reason: <%= request.reason %></span>
      <br> <br>
<div class="acc-rej">
      <form action="/requests/accept" method="post" >
        <input type="hidden" name="requestId" value="<%= request._id %>">
        <button type="submit"  class="input-form" id="add">Accept</button>
      </form>
      
      <form action="/requests/refuse" method="post">
        <input type="hidden" name="requestId" value="<%= request._id %>">
        <button type="submit" id="add" class="input-form">Refuse</button>
      </form></div>
    </li>
  <% }); %>
</ul>
</div>
<%- include('../partials/footer') %>