<%- include('../partials/header') %>

<h1>Admin Review</h1>

<ul>
  <% data.forEach(request => { %>
    <li>
      <span>Name: <%=request.name %></span>
      <span>Email <%= request.user_email %></span>
      <span>Reason: <%= request.reason %></span>

      <form action="/requests/accept" method="post">
        <input type="hidden" name="requestId" value="<%= request._id %>">
        <button type="submit">Accept</button>
      </form>
      
      <form action="/requests/refuse" method="post">
        <input type="hidden" name="requestId" value="<%= request._id %>">
        <button type="submit">Refuse</button>
      </form>
    </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>