<%- include('./partials/header') %>

<h1>Categories</h1>
<%- include('../partials/header') %>

<h1>Categories</h1>

<% booksCategory.forEach(category => { %>
<ul>
    <li><a href="" ><%= category.category%></a></li>
    <li><a href="" ><%= category.id%></a></li>

</ul>
<% }); %>


<%- include('./partials/footer') %>