<%- include('./partials/header') %>



<div class="categories-container"><h1 class="title-header">Categories</h1>
  <div class="book-boxes">
    <% categories.forEach(category => { %>
        <a href="/books/<%= category.category%>" class="book-item">
          <img src="<%= category.catImg %>" id="catgory">
          <%= category.category%>
        </a>
      <% }); %>
  </div>
</div>

<%- include('./partials/footer') %>
