<%- include('./partials/header') %>

<div class="container">
  <h1 class="title-header">Categories</h1>
  <div class="book-boxes">
    <% categories.forEach(category => { %>
        <div class="book-item">
          <img src="<%= category.catImg %>" id="catgory">
          <ul>
            <li>
              <a href="/books/<%= category.category%>">
              <h1><%= category.category%></h1>
              </a>
            </li>
          </ul>
        </div>
      <% }); %>
  </div>
</div>

<%- include('./partials/footer') %>