
<%- include('../partials/header') %>

<div class="container-add">
<h1>Edit Book</h1>
<form action="/admins/<%= book._id %>?_method=PUT" method="POST" id="new">

  <label for="name" class="label-new">Book Name</label>
  <input name="name" type="text" value="<%= book.name %>" class="input-form">

  <label for="category" class="label-new">Category</label>
  <select name="category" value="<%= book.category %>" class="input-form">
    <option  name="Comedy" value="Comedy">Comedy</option>
    <option  name="Horror-Crime-Mystery" value="Horror-Crime-Mystery" <%= book.category === 'Horror-Crime-Mystery' ? 'Selected' : '' %>>Horror-Crime-Mystery</option>
    <option  name="SCI-Fiction" value="SCI-Fiction" <%= book.category === 'SCI-Fiction' ? 'Selected' : '' %> >SCI-Fiction</option>
    <option  name="fantasy-fairy tale" value="fantasy-fairy tale" <%= book.category === 'fantasy-fairy tale' ? 'Selected' : '' %>>fantasy-fairy tale</option>
    <option  name="movie books" value="movie books" <%= book.category === 'movie books' ? 'Selected' : '' %>>movie books</option>
    <option  name="self learning" value="self learning"  <%= book.category === 'self learning' ? 'Selected' : '' %> >self learning</option>
    <option  name="kids" value="kids" <%= book.category === 'kids' ? 'Selected' : '' %>>kids</option>
    <option  name="drama-romance" value="drama-romance" <%= book.category === 'drama-romance' ? 'Selected' : '' %>>drama-romance</option>
    <option  name="novels" value="novels" <%= book.category === 'novels' ? 'Selected' : '' %>>novels</option>
  </select>

  <label for="author" class="label-new">Author</label>
  <input name="author" type="text" value="<%= book.author %>" class="input-form">

  <label for="date" class="label-new">Publish Date</label>
  <input name="date" type="date" value="<%= book.date %>" class="input-form">


  <label for="summary" class="label-new">Book Summary</label>
  <input name="summary" type="text" value="<%= book.summary %>" class="input-form">


  <label for="poster" class="label-new">Poster</label>
  <input name="poster" type="text" value="<%= book.poster %>" class="input-form">


  <label for="available" class="label-new">Available at</label>
  <input name="available" type="text" value="<%= book.available %>" class="input-form">
<br>
  <button type="submit" id="add" class="input-form">Update Book</button>
</form></div>
<%- include('../partials/footer') %>