
<%- include('../partials/header') %>
<body>
  <h1>Edit Book</h1>
  <form action="/admins/<%= book._id %>?_method=PUT" method="POST">

  <label for="name">Book Name</label>
<input name="name" type="text" value="<%= book.name %>">

<label for="category">Category</label>
<select name="category" value="<%= book.category %>">

  <option  name="Comedy" value="Comedy">Comedy</option>
  <option  name="Horror-crime-Mystery" value="Horror-crime-Mystery">Horror-crime-Mystery</option>
  <option  name="SCI-Fiction" value="SCI-Fiction">SCI-Fiction</option>
  <option  name="fantasy-fairy tale" value="fantasy-fairy tale" >fantasy-fairy tale</option>
  <option  name="movie books" value="movie books">movie books</option>
  <option  name="drama-romance" value="drama-romance">drama-romance</option>
  <option  name="kids" value="kids">kids</option>
  <option  name="self learning" value="self learning">self learning</option>
  <option  name="novels" value="novels">novels</option>
</select>


<label for="author">Author</label>
<input name="author" type="text" value="<%= book.author %>">


<label for="date">Publish Date</label>
<input name="date" type="date" value="<%= book.date %>">


<label for="summary">Book Summary</label>
<input name="summary" type="text" value="<%= book.summary %>">


<label for="poster">Poster</label>
<input name="poster" type="text" value="<%= book.poster %>">


<label for="available">Available at</label>
<input name="available" type="text" value="<%= book.available %>">

    <button type="submit">Update Book</button>
  </form>
</body>
<%- include('../partials/footer') %>