
<%- include('../partials/header') %>

<h1>Edit Book</h1>
<form action="/admins/<%= book._id %>?_method=PUT" method="POST">

  <label for="name">Book Name</label>
  <input name="name" type="text" value="<%= book.name %>">

  <label for="category">Category</label>
  <select name="category" value="<%= book.category %>">
    <option  name="Comedy" value="Comedy">Comedy</option>
    <option  name="Horror-crime-Mystery" value="Horror-crime-Mystery" <%= book.category === 'Horror-crime-Mystery' ? 'Selected' : '' %>>Horror-crime-Mystery</option>
    <option  name="SCI-Fiction" value="SCI-Fiction" <%= book.category === 'SCI-Fiction' ? 'Selected' : '' %> >SCI-Fiction</option>
    <option  name="fantasy-fairy tale" value="fantasy-fairy tale" <%= book.category === 'fantasy-fairy tale' ? 'Selected' : '' %>>fantasy-fairy tale</option>
    <option  name="movie books" value="movie books" <%= book.category === 'movie books' ? 'Selected' : '' %>>movie books</option>
    <option  name="romance" value="romance"  <%= book.category === 'romance' ? 'Selected' : '' %> >romance</option>
    <option  name="kids" value="kids" <%= book.category === 'kids' ? 'Selected' : '' %>>kids</option>
    <option  name="drama" value="drama" <%= book.category === 'drama' ? 'Selected' : '' %>>drama</option>
    <option  name="novels" value="novels" <%= book.category === 'novels' ? 'Selected' : '' %>>novels</option>
  </select>

  <label for="author">Author</label>
  <input name="author" type="text" value="<%= book.author %>">

  <label for="date">Publish Date</label>
  <input name="date" type="date" value="<%= book.date %>">


  <label for="summary">Book Summary</label>
  <input name="summary" type="text" value="<%= book.summary %>">


  <label for="poster">Poster</label>
  <input name="poster" type="text" value="<%= book.poster %>">


  <label for="available">Available at</label>
  <input name="available" type="text" value="<%= book.available %>">

  <button type="submit">Update Book</button>
</form>
<%- include('../partials/footer') %>