<%- include('../partials/header') %>
<div class="container-list">
    <div class="blist">
<h1 id="blist">Added Books List</h1>
</div>

<% books.forEach(book => { %>
  <ol id="fontbook">
        <a href="/books/show/<%= book._id %>" >
            
                <li id="space"><%= book.name%>
                    <img src="<%= book.poster %>" id="admin-poster">
             </li>
</ol>

</a> 
<% }); %>

</div>

<%- include('../partials/footer') %>