
<%- include('../partials/header') %>
<body>
  <h1> Book Details</h1>

  <table>
    <thead>
      <tr>
      
        <th>Name</th>
        <th>Category</th>
        <th>Author</th>
        <th>publishDate</th>
        <th>summary</th>
        <th>poster</th>
        <th>rating</th>
       </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.category %></td>
        <td><%= book.author %></td>
        <td><%= book.publishDate %></td>
        <td><%= book.summary %></td>
        <td><img src="<%= book.poster %>"></td>
        <td><%= book.rating %></td>
      </tr>

    </tbody>
  </table>
  <a href=""><button>Edit book </button></a>
  <button>Delete book </button>


  <!--<form action="" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= book.name %>"><br>
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" value="<%= book.category %>"><br>
    
      <button type="submit">Update Book</button>
  </form>-->
  <%- include('../partials/footer') %>

<%- include('../partials/header') %>

<% books.forEach(book => { %>
<ul>
    <li>
        <a href="" ><%= book.name%></a>
        <button>Delete</button>
        <button>Edite</button>
    </li>
    <!-- <li>Category: <%= book.category %></li>
    <li>Author: <%= book.author %></li>
    <li>Publish Date: <%= book.publishDate %></li>
    <li>Summary: <%= book.summary %></li>
    <li>Poster: <%= book.poster %></li>
    <li>Rating: <%= book.rating %></li> -->
</ul>
<% }); %>


<%- include('../partials/footer') %>
