
<%- include('../partials/header') %>
<body>
  <h1> Book Details</h1>

<span><a href="/lists/<%=book._id%>">Add to my books list</a></span>

  <table>
    <thead>
      <tr>
      
        <th>Name</th>
        <th>Category</th>
        <th>Author</th>
        <th>publishDate</th>
        <th>summary</th>
        <th>poster</th>
        <th>rating</th>
       </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.category %></td>
        <td><%= book.author %></td>
        <td><%= book.publishDate %></td>
        <td><%= book.summary %></td>
        <td><img src="<%= book.poster %>"></td>
        <td><a href="<%= book.available %>"><%= book.available %></a></td>
      </tr>

    </tbody>
  </table>

  <%if (user) {%>
    <%if (user.type) {%>
  <a href="/admins/<%= book._id %>/edit"><button>Edit book </button></a>
  <br>
  
  <form action="/admins/<%= book._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Book</button>
  </form>
  <%}}%>


  <!--<form action="" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= book.name %>"><br>
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" value="<%= book.category %>"><br>
    
      <button type="submit">Update Book</button>
  </form>-->
  <%- include('../partials/footer') %>