<%- include('../partials/header') %>

<h1 class="book-list-head">My Books List</h1>
<ul class="books-container">
    <% books.forEach(book => { %>
      <li class="book-container">
        <img class="book-container-poster" src="<%= book.poster %>" alt="Poster for <%= book.name %>">
        <a href="/books/show/<%=book._id%>"><%= book.name %></a>
      </li>
    <% }); %>
</ul>
<%- include('../partials/footer') %>